<ion-header>
  <ion-navbar>
    <ion-title>Facebook login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="loginWithFB()">Login!</button>
  <ion-card *ng-if="userData">
    <ion-card-header>{{ userData.username }} </ion-card-header>
    <img [src]="userData.picture">
    <ion-card-content>
      <p>Email: {{ userData.email }}</p>
      <p>First name: {{ userData.first_name }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
